argcomplete
azure-ai-ml
azure-identity
azure-monitor-opentelemetry-exporter
azure-storage-blob
azureml-ai-monitoring
beautifulsoup4
bs4
colorama
cryptography
docutils
fastapi
filelock
filetype
flask
flask-cors
flask-restx
gitpython
httpx
jsonschema
keyring
keyrings.alt
marshmallow
openai
opentelemetry-exporter-otlp-proto-http
opentelemetry-sdk
pandas
pillow
promptflow
psutil
pyarrow
pydash
pyinstaller
python-dateutil
python-dotenv
requests
ruamel.yaml
sqlalchemy
streamlit
streamlit-quill
strictyaml
tabulate
tiktoken
waitress
PyPDF2
python-pptx
scikit-learn
ruff
mypy
types-requests
pre-commit
pip-tools
pip-compile-cross-platform
playwright
pytest
pytest-asyncio
pytest-cov
pytest-playwright
pytest-snapshot
locust
uvicorn>=0.30.1,<1.0.0